{% extends 'base.html.twig' %}

{% block content %}


    <table id="tableHome">

        <tr>
            <th>Nom participant</th>
            <th>Actions</th>
        </tr>


        {% for participant in participants %}


            <tr>
                <td>{{ participant.nom }}</td>
                <td>
                    {% if (user not in groupe.participants) %}
                        <a href="{{  path('participInscrit', {'id': participant.id} ) }}">S'incrire</a>
                    {%  endif %}
                </td>
            </tr>

        {% endfor %}

    </table>



{% endblock %}