{% extends 'base.html.twig' %}
{% form_theme registerForm 'bootstrap_4_layout.html.twig' %}

{% block main %}

    <h2>Inscription</h2>

    {{ form_start(registerForm) }}
    {{ form_widget(registerForm) }}
    <input type="submit" name="Send"/>
    {{ form_end(registerForm) }}

{% endblock %}